
# Atmel Corp.JTAG ICE mkII 
ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2103", MODE="660", GROUP="plugdev" 

# Atmel Corp. AVRISP mkII
ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2104", MODE="660", GROUP="plugdev" 

# Atmel Corp. Dragon
ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2107", MODE="660", GROUP="plugdev"

